@mixin search-box {
	form {
		position: relative;
		width: 100%;
		display: flex;
		align-items: center;
		padding: 0 $medium-space;
		border: $input-btn-border-width solid $input-border-color;
		background: $gray-lighter;
		border-radius: 5px;
		color: $gray;

		input[name="s"],
		button[type="submit"] {
			border: none;
			border-radius: 0;
			background-color: transparent;
		}

		input[name="s"] {
			padding: $medium-space 0;
			flex: 1;
			line-height: 1em;
		}

		button[type="submit"] {
			padding: 0;
			font-size: 1.25em;
			margin-left: $medium-space;

			i {
				display: block;
				font-size: 1em;
				line-height: 1em;
				color: inherit;
			}
		}
	}
	form:focus-within {
		background-color: white;
		border-color: $primary;
		box-shadow: 0 0 0 3px $brand-primary-lighter;
		outline: none;
		color: $gray-darker;
	}
}

@mixin button-primary {
	background-color: $brand-primary;
	color: white;
	border: none;

	.btn-icon {
		color: white;
	}

	&:focus {
		box-shadow: 0 0 0 0.25rem lighten($brand-primary, 50%);
	}

	&:hover {
		box-shadow: 0 0 0 0.35rem lighten($brand-primary, 50%);
		background-color: $brand-primary;
	}
}

@mixin box-shadow {
	box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.2);
}

@mixin box-shadow-light {
	box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);
}

@mixin drop-shadow {
	box-shadow: 3px 5px 25px #aaa;
}

@mixin drop-shadow-light {
	box-shadow: 3px 5px 25px #ddd;
}

@mixin drop-shadow-small {
	box-shadow: 3px 5px 10px #aaa;
}

@mixin drop-shadow-small-light {
	box-shadow: 3px 5px 10px #ddd;
}

@mixin drop-shadow-y-light {
	box-shadow: 0 3px 10px #ddd;
}

@mixin drop-shadow-light-no-overflow {
	box-shadow: 6px 10px 25px -15px #ddd;
}
@mixin drop-shadow-light-no-overflow-with-inset {
	box-shadow: 6px 10px 25px -15px #ddd, inset 5px 0 10px -10px #999;
}
