@mixin search-box {
	form {
		position: relative;
		width: 100%;
		display: flex;
		align-items: center;
		padding: 0 calc(#{$small-space} * 1.5);
		border: $input-btn-border-width solid $input-border-color;
		background: $gray-lighter;
		border-radius: 5px;
		color: $gray;

		input[name="s"],
		button[type="submit"] {
			border: none;
			border-radius: 0;
			background-color: transparent;
		}

		input[name="s"] {
			padding: calc(#{$small-space} * 1.5) 0;
			flex: 1;
			line-height: 1em;
		}

		button[type="submit"] {
			padding: 0;
			font-size: 1.25em;
			margin-left: $small-space;

			i {
				display: block;
				font-size: 1em;
				line-height: 1em;
				color: inherit;
			}
		}
	}
	form:focus-within {
		background-color: white;
		border-color: $primary;
		box-shadow: 0 0 0 3px $brand-primary-lighter;
		outline: none;
		color: $gray-darker;

		button[type="submit"] {
			color: $primary;
		}
	}
}

@mixin button {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Montserrat;
	margin: 0;
	padding: $small-space $medium-space;
	border-radius: 5px;
}
@mixin button--primary {
	color: white;

	@include drop-shadow-light;
	background-color: $primary;
	transition: box-shadow 0.35s;

	span,
	.btn_text {
		color: inherit;
		line-height: 1;
	}

	.btn_icon {
		margin-left: $small-space;
	}

	&:hover {
		color: #fff;
	}

	@include media-breakpoint-up(md) {
		&:hover {
			box-shadow: 0 0 0 3px lighten($primary, 0.3);
		}
	}
}
@mixin button--tertiary {
	background-color: transparent;
	border: 2px solid $primary;
	color: $gray-dark;

	&:hover {
		color: $gray-dark;
	}
}

@mixin box-shadow {
	box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.2);
}

@mixin box-shadow-light {
	box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);
}

@mixin drop-shadow {
	box-shadow: 3px 5px 25px #0005;
}

@mixin drop-shadow-light {
	box-shadow: 3px 5px 25px #0003;
}

@mixin drop-shadow-small {
	box-shadow: 3px 5px 10px #0005;
}

@mixin drop-shadow-small-light {
	box-shadow: 3px 5px 10px #0003;
}

@mixin drop-shadow-y-light {
	box-shadow: 0 3px 10px #0003;
}

@mixin drop-shadow-light-no-overflow {
	box-shadow: 6px 10px 25px -15px #ddd;
}
@mixin drop-shadow-light-no-overflow-with-inset {
	box-shadow: 6px 10px 25px -15px #ddd, inset 5px 0 10px -10px #999;
}
