<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>productcatalog</name>
	<displayName><![CDATA[Product Catalog]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[A module for creating a webpage on your website that servers as a catalog of all of your products.]]></description>
	<author><![CDATA[Augmented Design]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
