#search-filters-brands {
  box-shadow: none;
  background-color: transparent;
  padding: $extra-small-space 0;

  &:hover .directions {
    opacity: 1;
  }

  .facet-header {
    padding: 0 1.35rem;
    text-transform: capitalize;
  }

  .facets-scroll {
    position: relative;
    overflow: hidden;
    background-color: white;
    border-radius: 8px 8px 0 0;
    border-bottom: 2px solid $brand-primary;
  }

  .facets {
    display: flex;
    flex-direction: row;
    margin: 0;

    .facet-label {
      width: 240px;
      padding: 0;
      text-align: center;

      > a {
        overflow: hidden;
      }

      .facet-text {
        display: block;
        background-color: #ffffff;
        padding: 0.55rem 1.15rem;
      }

      .facet-image {
        width: 100%;
        height: 85px;
        object-fit: contain;
      }
    }
  }

  .facets + .directions {
    position: absolute;
    top: $small-space;
    right: $small-space;
    opacity: 0;
    transition: opacity 0.35s;
    background-color: white;
    border-radius: 100px;
    box-shadow: 0 3px 10px #0003;

    .swiper-button-prev,
    .swiper-button-next {
      padding: 0.5em;
      transition: box-shadow 0.45s;
      cursor: pointer;

      i {
        display: block;
      }

      &:hover {
        background-color: $gray-lighter;
      }
    }
  }
}

@include media-breakpoint-up(md) {
}
