#search-filters-brands {
  box-shadow: none;
  background-color: transparent;
  padding: $extra-small-space 0;

  .facet-header {
    padding: 0 1.35rem;
    text-transform: capitalize;
  }

  .facets-scroll {
    position: relative;
    overflow: hidden;
    background-color: white;
    border-radius: 8px 8px 0 0;
    border-bottom: 2px solid $brand-primary;
  }

  .facets {
    display: flex;
    flex-direction: row;
    margin: 0;
    transition-timing-function: linear;

    .facet-label {
      width: 240px;
      padding: 0;
      text-align: center;

      > a {
        overflow: hidden;
      }

      .facet-text {
        display: block;
        background-color: #ffffff;
        padding: 0.55rem 1.15rem;
      }

      .facet-image {
        width: 100%;
        height: 85px;
        object-fit: contain;
      }
    }
  }

  .facets + .directions {
    position: absolute;
    top: $small-space;
    right: $small-space;
    transition: opacity 0.35s;
    border-radius: 8px;
    color: $white;
    
    .swiper-button-prev,
    .swiper-button-next {
      padding: $extra-small-space;
      background-color: $brand-primary;
      box-shadow: 0 2px 0 $primary-inverse;
      transition: all .45s;
      cursor: pointer;

      i {
        display: block;
      }

      &:hover {
        color: $primary;
        background-color: $white;
      }

      &:active {
        margin-top: 2px;
        box-shadow: 0 0;
      }
    }

    .swiper-button-prev {
      border-radius: 8px 0 0 8px;
    }
    .swiper-button-next {
      border-radius: 0 8px 8px 0;
    }
  }
}

@include media-breakpoint-up(md) {
  #search-filters-brands {
    &:hover .directions {
      opacity: 1;
    }

    .facets + .directions {
      opacity: 0;
    }
  }
}
