#search-filters-brands {
  .facet-header {
    position: relative;
    margin: 0;
    padding-bottom: 1rem;
    text-transform: unset;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: calc(50% - 4rem);
      right: calc(50% - 4rem);

      width: 8rem;
      height: 3px;
      background-color: $primary;
      border-radius: 100px 100px 0 0;
    }
  }

  .facets-scroll {
    position: relative;
    overflow: hidden;
    padding: 0 $medium-space;
    border-top: 1px solid $gray-light;
    border-radius: 8px;
  }

  .facets {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;

    .facet-label {
      padding: $small-space;
      text-align: center;
      flex-shrink: 0;

      > a {
        overflow: hidden;
      }

      .facet-text {
        display: none;
        background-color: #ffffff;
        padding: 0.55rem 1.15rem;
      }

      .facet-image {
        width: 100%;
        height: 85px;
        object-fit: contain;
        filter: grayscale(0.35);
        transition: filter 0.35s;
      }
    }
    .facet-label:hover {
      .facet-image {
        filter: grayscale(1);
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  #search-filters-brands {
    border-radius: 8px;
  }
}
