.contact-rich {
  color: $gray;
  word-wrap: break-word;
  h4 {
    text-transform: capitalize;
    color: $black;
    margin-bottom: 0;
    padding-bottom: $spacer-3;
    border-bottom: 1px solid $base-border-color;
  }
  .block {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid $base-border-color;
    padding: $spacer-3 0;

    height: auto;
    overflow: hidden;
    .icon {
      width: 3.5rem;
      i {
        font-size: 2rem;
      }
    }
    .data {
      color: $gray-darker;
      font-size: $font-size-sm;
      flex: 1;
      overflow: hidden;
    }
    a[href^="mailto:"] {
      clear: both;
      margin-top: 1rem;

      @include media-breakpoint-up(sm) {
        font-size: 0.815rem;
      }
    }
  }
}

.contact-form {
  color: $gray;
  width: 100%;
  margin-bottom: 15px;

  h3 {
    text-transform: uppercase;
    color: $gray-darker;
  }
  .alert ul {
    margin: 0;
  }
}
