// $product-min-width: 305px;
// $product-description-height: 70px;
// $product-name-height: 3em;

#products,
.featured-products,
.product-accessories,
.product-miniature {
    .products {
        flex-wrap: wrap;
    }

    .swiper-slide {
        width: 100%;
        flex-shrink: 0;
    }

    .product-miniature {
        border-radius: 5px;
        // border: solid $gray-light;
        // border-width: 1px 0;
        box-shadow: none;
        background-color: transparent;
        border: 1px solid #e7e7e7;
        overflow: hidden;
        transition: box-shadow 0.85s;

        .product-thumbnail {
            > img {
                width: 100%;
            }
        }

        .highlighted-informations {
            position: relative;

            .variant-links {
                position: absolute;
                bottom: calc(100% + 8px);
                left: 50%;
                transform: translateX(-50%);
                background-color: white;
                padding: $extra-small-space $medium-space;
                border-radius: 100px;

                > .color {
                    border-radius: 100%;
                    box-shadow: 0 2px 9px 0 #00000025;
                    transition: box-shadow 0.3s;

                    &:hover {
                        box-shadow: 0 2px 9px 0 #00000075;
                    }
                }
            }
        }

        .product-description {
            font-family: Montserrat;
            background-color: #fff;
            transition: transform 0.35s;

            .product-title {
                height: 1.5em;
                max-height: 2.3em;

                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }

            .product-price-and-shipping {
            }
        }

        .product-features {
            position: absolute;
            top: 5px;
            right: 5px;
            transition: transform 0.35s;
        }

        .product-features > .product-feature {
            padding: 0rem 1.5rem;
            background-color: #fff;
            border-radius: 100px;
            @include drop-shadow-y-light;
            &::first-child {
                margin-top: 0 !important;
            }

            .feature-icon {
                width: 2.5em;
                height: 2.5em;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                &.inner-dimension {
                    background-image: url("../img/feature-icons/dimension-inner.svg");
                }
                &.outer-dimension {
                    background-image: url("../img/feature-icons/dimension-outer.svg");
                }
            }
        }

        .product-flags {
            transition: transform 0.35s;
        }
    }
}

.featured-products {
    .products {
        flex-wrap: nowrap;
        margin: 0;
    }

    .featured-product-list {
        padding: 0 8px;
        overflow: hidden;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 0.5rem;
        padding: 0.95rem;

        background-color: $gray-lighter;
        // border: 1px solid #ccc;
        cursor: pointer;
        // box-shadow: 0 0 20px #AAA;
        transition: border .35s, background 0.35s, transform .35s;
        z-index: 9;

        .swiper-button-icon {
            transition: transform .35s;
        }

        .material-icons {
            display: block;
        }
    }

    .swiper-button-prev {
        left: 0;
    }
    .swiper-button-next {
        right: 0;
    }

    .all-product-link {
        margin: 0 auto;
    }
}

@include media-breakpoint-up(sm) {
    #products,
    .featured-products,
    .product-accessories,
    .product-miniature {
        .swiper-slide {
            width: 50%;
        }
    }
}

@include media-breakpoint-up(md) {
    #products,
    .featured-products,
    .product-accessories,
    .product-miniature {
        .swiper-slide {
            width: 25%;
        }

        .product-miniature {
            &:hover {
                .product-flags {
                    transform: translateY(calc(-100% - 15px));
                }
                .product-description {
                    transform: translateY(100%);
                }

                @include drop-shadow-y-light;
            }

            .product-description {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #fffe;

                .product-title {
                    height: auto;

                    text-overflow: none;
                    white-space: unset;
                    overflow: hidden;
                }
            }
        }

        .swiper-button-prev:hover,
        .swiper-button-next:hover {
            background-color: $primary;
            box-shadow: -3px 3px 0 $inverse;
            transform: translateY(-50%) rotate(45deg);
        
            .swiper-button-icon {
                transform: rotate(-45deg);
            }
        }

        .all-product-link {
            @include button-tertiary;
            position: absolute;
            top: 0.5rem;
            right: 0;
            padding: 0;
            border: none;
            box-shadow: none;

            &::before {
                content: "";
                position: absolute;
                top: 100%;
                left: 0;
                width: 0;
                height: 2px;
                background-color: #a22;
                transition: width 0.35s;
            }

            .btn_icon {
                font-size: 1.25em;
                transition: transform 0.35s;
            }

            &:hover {
                .btn_icon {
                    transform: translateX($small-space);
                }

                &::before {
                    width: 100%;
                }
            }
        }
    }
}
