// $product-min-width: 305px;
// $product-description-height: 70px;
// $product-name-height: 3em;

#products,
.featured-products,
.product-accessories,
.product-miniature {
	.products {
		flex-wrap: wrap;
	}

	.product-miniature {
		border-radius: 5px;
		// border: solid $gray-light;
		// border-width: 1px 0;
		box-shadow: none;
		background-color: transparent;
		border: 1px solid #e7e7e7;
		overflow: hidden;
		//     padding: 1.25em;
		transition: box-shadow 0.85s;

		.product-thumbnail {
			> img {
				width: 100%;
				@include drop-shadow-y-light;
			}
		}

		.highlighted-informations {
			position: relative;

			.variant-links {
				position: absolute;
				bottom: calc(100% + 8px);
				left: 50%;
				transform: translateX(-50%);
				background-color: white;
				padding: $extra-small-space $medium-space;
				border-radius: 100px;

				> .color {
					border-radius: 100%;
					box-shadow: 0 2px 9px 0 #00000025;
					transition: box-shadow 0.3s;

					&:hover {
						box-shadow: 0 2px 9px 0 #00000075;
					}
				}
			}
		}

		.product-description {
			font-family: Montserrat;

			.product-title {
				height: 2.3em;
			}

			.product-price-and-shipping {
			}

			.product-features {
				position: absolute;
				top: 5px;
				right: 5px;
			}

			.product-features > .product-feature {
				padding: 0rem 1.5rem;
				background-color: #fff;
				border-radius: 100px;
				box-shadow: @include drop-shadow-y-light;
			
				.feature-icon {
					width: 2.5em;
					height: 2.5em;
					background-size: contain;
					background-position: center;
					background-repeat: no-repeat;
					&.inner-dimension {
						background-image: url("../img/feature-icons/dimension-inner.svg");
					}
					&.outer-dimension {
						background-image: url("../img/feature-icons/dimension-outer.svg");
					}
				}
			}
		}
	}
}

.featured-products {
	.products {
		flex-wrap: nowrap;
		overflow: hidden;
		margin: 0;
	}

	.featured-control-left,
	.featured-control-right {
		display: inline-block;
		position: absolute;
		top: 50%;
		transform: translateY(-50%) skew(-15deg);
		border-radius: 8px;
		padding: 0.95rem;

		background-color: $gray-lighter;
		// border: 1px solid #ccc;
		cursor: pointer;
		// box-shadow: 0 0 20px #AAA;
		transition: box-shadow 0.85s, background 0.85s;
		z-index: 9;

		.fa {
			display: block;
			transform: skew(15deg);
		}
	}

	.featured-control-left {
		left: -0.4rem;
		padding-left: 1.125rem;
		transition: transform 0.5s;
		// border-radius: 25px 5px 5px 25px;
		// border-right: none;

		&:hover {
			box-shadow: 0 0 20px white;
			transform: translateX(-8px) translateY(-50%) skew(-15deg);
		}
	}
	.featured-control-right {
		right: -0.4rem;
		padding-left: 1.125rem;
		transition: transform 0.5s;
		// border-radius: 5px 25px 25px 5px;
		// border-left: none;

		&:hover {
			box-shadow: 0 0 20px white;
			transform: translateX(8px) translateY(-50%) skew(-15deg);
		}
	}

	.all-product-link {
		position: absolute;
		top: 0.5rem;
		right: 0;
		display: block;
		margin: 0;

		font-family: Montserrat;
		font-weight: lighter;
		font-size: 1.25rem;
		line-height: 1;

		.fa {
			font-size: 0.8em;
			line-height: 1;
			padding: 0;
			vertical-align: top;
			margin-left: 4px;
			transition: transform 0.35s;
		}

		&::before {
			content: "";
			position: absolute;
			top: calc(100%);
			left: 0;
			width: 0;
			height: 2px;
			background-color: #a22;
			transition: width 0.35s;
		}

		&:hover {
			.fa {
				transform: translateX(4px);
			}

			&::before {
				width: 100%;
			}
		}
	}
}

@include media-breakpoint-up(md) {
	#products,
	.featured-products,
	.product-accessories,
	.product-miniature {
		.product-miniature {
			&:hover .product-thumbnail > img {
				
				@include drop-shadow-y-light;
			}
		}
	}
}

@include media-breakpoint-down(md) {
	#products,
	.featured-products,
	.product-accessories,
	.product-miniature {
		.product-miniature {
			.product-description {
				.product-title {
					height: 1.5em;

					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
				}
			}
		}

		.all-product-link {
			position: relative;

			&::before {
				content: none;
			}
		}
	}
}

// #products,.featured-products,.product-accessories,.product-miniature  {
//   .products {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: flex-start;
//   }
//   .product-thumbnail {
//     display: block;
//   }
//   .product-title a {
//     color: $gray;
//     font-size: $font-size-sm;
//     text-decoration: none;
//     text-align: center;
//     font-weight: 400;
//   }
//   .thumbnail-container {
//     position: relative;
//     margin-bottom: 1.563rem;
//     height: 318px;
//     width: $thumbnail-size;
//     background: white;
//     &:hover, &:focus {
//       .highlighted-informations {
//         bottom: 5.5rem;
//         &::after {
//           opacity: 1;
//         }
//         &.no-variants{
//           bottom: 4.2rem;
//         }
//       }
//       .product-description::after{
//         content: "";
//         border-top: $gray 1px solid;
//         position: absolute;
//         width: 80%;
//         top: 0;
//         left: 10%;
//         opacity: .25;
//       }
//     }
//     .product-thumbnail {
//       position: relative;
//       height: calc(100% - #{$product-description-height});
//       img {
//         max-height: 100%;
//         max-width: 100%;
//         position: absolute;
//         top: 0;
//         bottom: 0;
//         left: 0;
//         right: 0;
//         margin: auto;
//       }
//     }
//   }
//   .products-section-title {
//     text-align: center;
//     margin-bottom: 1.5rem;
//   }
//   .product-title {
//     text-align: center;
//     text-transform: capitalize;
//     margin-top: .7rem;
//   }
//   .product-price-and-shipping {
//     color: $gray-darker;
//     font-weight: 700;
//     text-align: center;
//     .discount-product {
//       display: none;
//     }
//   }
//   .variant-links {
//     position: relative;
//     text-align: center;
//     width: 100%;
//     top: -0.25em;
//     padding-top: 0.1875rem;
//     min-height: 2.5rem;
//     background: white;
//   }
//   .highlighted-informations {
//     position: absolute;
//     bottom: 1.25rem;
//     padding-top: 0.625rem;
//     z-index: 2;
//     background: white;
//     text-align: center;
//     width: $thumbnail-size;
//     height: 3.125rem;
//     box-shadow: 0 -10px 5px -5px rgba(0, 0, 0, 0.2);
//     transition: bottom .3s;
//     .quick-view {
//       color: $gray;
//       font-size: $base-font-size;
//       &:hover {
//         color: $brand-primary;
//       }
//     }
//   }

//   .product-description {
//     position: absolute;
//     z-index: 3;
//     background: $gray-lighter;
//     width: $thumbnail-size;
//     bottom: 0;
//     height: $product-description-height;
//   }

//   .product-miniature {
//     margin: 0 .8125rem;
//     .product-flags {
//       li.product-flag {
//         min-width: 3.125rem;
//         min-height: 1.875rem;
//         font-weight: 600;
//         &.online-only {
//           top: 13.1rem;
//         }
//       }
//     }
//   }
//   .comments_note {
//     text-align: center;
//     color: $gray;
//   }
//   .regular-price {
//     color: $gray;
//     text-decoration: line-through;
//     font-size: $font-size-sm;
//   }
//   .count {
//     color: $gray;
//     font-weight: 700;
//     position: relative;
//     bottom: 0.5rem;
//   }
//   .all-product-link {
//     clear: both;
//     color: $gray;
//     font-weight: 700;
//     margin-top: 1.5rem;
//     margin-bottom: 1.5rem;
//   }
// }

// @include media-breakpoint-down(sm) {
//   #products,.featured-products,.product-accessories  {
//     .thumbnail-container {
//       @include box-shadow;
//       .product-description{
//         box-shadow: 0 -5px 10px -5px rgba(0, 0, 0, 0.2);
//       }
//     }
//   }
// }
