.featured-products {
    position: relative;

    .products {
        flex-wrap: nowrap;
        margin: 0;
    }

    .products-section-title {
        position: relative;
        margin: 0;
        padding-bottom: 1rem;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: calc(50% - 4rem);
            right: calc(50% - 4rem);

            width: 8rem;
            height: 3px;
            background-color: $primary;
            border-radius: 100px 100px 0 0;
        }
    }

    .featured-products-list {
        border-top: 1px solid $gray-light-second;
        border-radius: 8px;
        padding: 0 8px;
        overflow: hidden;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 0.95rem;
        box-shadow: 0 2px 3px #0005;

        background-color: $white;
        border-radius: 100px;
        cursor: pointer;
        z-index: 9;

        .swiper-button-icon {
            display: block;
            transition: transform 0.35s;
        }

        .material-icons {
            display: block;
        }
    }

    .swiper-button-disabled {
        display: none;
    }

    .swiper-button-prev {
        left: $large-space;
    }
    .swiper-button-next {
        right: $large-space;
    }

    .all-product-link {
        display: inline-block;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;

        > .btn_text {
            display: inline-block;
            vertical-align: middle;
            font-size: 1em;
            line-height: 1.5;
        }

        > .btn_icon {
            display: inline-block;
            vertical-align: middle;
            font-size: 1.5em;
        }
    }
}

@include media-breakpoint-up(md) {
    .featured-products {
        .all-product-link {
            .btn_icon {
                transition: transform 0.35s;
            }

            &:hover {
                .btn_icon {
                    transform: translateX($extra-small-space);
                }

                &::before {
                    width: 100%;
                }
            }
        }
    }
}
