#header {
    background-color: white;
    font-family: Montserrat;

    .header-top {
        .mobile > div {
            margin: 0 $extra-small-space;
        }

        .material-icons {
            display: block;
            font-size: 1.5em;
        }

        .nav-left > div,
        .nav-right > div {
            padding: 0 $small-space;
            border: solid $gray-light-second;
        }
        .nav-left > div {
            border-width: 0 0 0 1px;
            &:first-child {
                border-left-width: 0;
                padding-left: 0;
            }
        }
        .nav-right > div {
            border-width: 0 1px 0 0;
            &:first-child {
                border-right-width: 0;
                padding-right: 0;
            }
        }
    }
}
a {
    color: $gray-darker;
}

@include media-breakpoint-up(md) {
    #header {
        box-shadow: 0 ($extra-small-space * 2) 0 - ($extra-small-space) $primary-inverse;
        position: relative;
        z-index: 99;

        .header-nav {
            background-color: $primary;
            color: white;

            .dropdown {
                color: white;

                &:hover .expand-more {
                    color: white;
                }
                &:hover i {
                    color: white;
                }
            }
        }
    }
}
