#header {
    background-color: white;

    .header-top {
        .mobile > div {
            margin: 0 $extra-small-space;
        }

        .material-icons {
            display: block;
            font-size: 1.5em;
        }

        .nav-left > div,
        .nav-right > div {
            padding: 0 $small-space;
            border: solid $gray-light-second;
        }
        .nav-left > div {
            border-width: 0 0 0 1px;
            &:first-child {
                border-left-width: 0;
                padding-left: 0;
            }
        }
        .nav-right > div {
            border-width: 0 1px 0 0;
            &:first-child {
                border-right-width: 0;
                padding-right: 0;
            }
        }
    }
}
#header a {
    color: $gray-darker;
}

@include media-breakpoint-up(md) {
    #header {
        border-bottom: 1px solid $gray-light-second;
    }
}