#header {
    background-color: white;

    .header-top {
        .mobile > div {
            margin: 0 0.35rem;
        }

        .material-icons {
            display: block;
            font-size: 1.5em;
        }
    }
}
#header a {
    color: $gray-darker;
}

@include media-breakpoint-up(md) {
    #header {
        border-bottom: 1px solid $gray-light-second;
    }
}

// #header {
//     .logo {
//         width: auto;
//     }
//     .header-top {
//         .search-widget {
//             min-width: inherit;
//         }
//     }
// }

// #header {
//     background: $gray-light;
//     .header-top {
//         background: white;
//     }
//     .header-nav {
//         background: white;
//         color: $gray-darker;
//         .top-logo {
//             padding-top: 11px;
//             a {
//                 img {
//                     max-height: 50px;
//                     max-width: 100%;
//                 }
//             }
//         }
//         .right-nav {
//             flex-direction: column;
//         }
//         .user-info {
//             text-align: left;
//             margin-left: 0;
//             .logged {
//                 color: $brand-primary;
//             }
//         }
//         .blockcart {
//             margin-left: 0;
//             background: inherit;
//             &.active {
//                 margin-left: 0.5rem;
//             }
//             &.inactive {
//                 .cart-products-count {
//                     display: none;
//                 }
//             }
//         }
//     }
//     .header-top {
//         // background: $gray-light;
//         padding-top: 0;
//         padding-bottom: 0;
//         a[data-depth="0"] {
//             color: $gray-darker;
//         }
//         .search-widget {
//             width: 100%;
//         }
//     }
//     &.is-open {
//         background-color: white;
//         .header-top {
//             background-color: white;
//         }
//     }
// }

// #header {
// 	position: relative;
// 	z-index: 99;
// 	background: white;
// 	color: gray;
// 	box-shadow: 0 0 20px #0005;

// 	.menu {
// 		display: inline-block;

// 		> ul {
// 			> li {
// 				display: inline-block;
// 			}
// 		}
// 	}

// 	a {
// 		color: $gray-darker;

// 		&:hover {
// 			text-decoration: none;
// 			color: $brand-primary;
// 		}
// 	}

// 	.header-top {
// 		padding: 1.25rem 0;
// 		overflow: hidden;

// 		> .container {
// 			position: relative;
// 		}

// 		.position-static {
// 			position: static;
// 		}

// 		#_desktop_logo {
// 			text-align: center;
// 			padding: 0 35%;

// 			> h1 {
// 				margin-bottom: 0;
// 			}

// 			a {
// 				display: block;
// 				padding: 1.25rem 0;

// 				.logo {
// 					display: block;
// 					margin: 0 auto;
// 					max-width: 100%;
// 					max-height: 50px;
// 				}
// 			}
// 		}

// 		.nav-user {
// 			position: absolute;
// 			top: 50%;
// 			transform: translateY(-50%);

// 			display: flex;

// 			&.-left {
// 				left: 0;
// 				flex-direction: row;

// 				> div {
// 					margin-right: 0.75rem;
// 				}
// 			}
// 			&.-right {
// 				right: 0;
// 				flex-direction: row-reverse;

// 				> div  {
// 					margin-left: 0.75rem;
// 				}
// 			}

// 			#_desktop_contact_link {
// 				display: inline-block;
// 				height: 100%;
// 				vertical-align: top;
// 				flex: 1;

// 				.main {
// 					.icon-container {
// 						float: left;
// 						height: 100%;

// 						i.fa {
// 							font-size: 1em;
// 							line-height: 1em;
// 						}
// 					}

// 					.content-container {
// 						display: block;
// 						overflow: hidden;
// 						padding: 0 0.8em;
// 						font-family: Roboto;

// 						span {
// 							display: block;
// 						}

// 						.caption {
// 							text-transform: uppercase;
// 							font-size: 0.8em;
// 							letter-spacing: 0.3em;
// 							margin-bottom: 0.15rem;
// 						}

// 						.value {
// 							color: #000;
// 						}
// 					}
// 				}
// 			}
// 		}
// 	}

// 	.header-nav {
// 		border-top: 1px solid #EEE;

// 		> div {
// 			vertical-align: top;
// 		}

// 		.links {
// 			.wrapper {
// 				flex: auto;
// 				max-width: none;
// 			}

// 			.links-title {
// 				display: none !important;
// 			}

// 			ul.collapse {
// 				margin: 0;
// 			}
// 			ul.collapse li {
// 				display: inline-block;
// 			}
// 			ul.collapse li + li::before {
// 				content: "/";
// 				font-size: 1rem;
// 				margin: 0 0.25rem;
// 			}
// 		}
// 	}

// 	@include media-breakpoint-down(md) {
// 		#_mobile_logo h1 {
// 			margin: 0;
// 		}
// 		#_mobile_logo a {
// 			display: block;
// 			padding: 0.325rem 0.5rem;
// 		}
// 		#_mobile_logo .logo {
// 			display: block;
// 			max-width: 330px;
// 			width: 100%;
// 			margin: 0 auto;
// 		}
// 	}
// }

// .popover {
// 	font-family: inherit;
// }

// /*** Responsive part ***/
// @include media-breakpoint-down(lg) {
// 	#header {
// 		.header-nav {
// 			max-height: inherit;
// 			.search-widget {
// 				float: none;
// 			}
// 		}
// 	}
// }
