#carousel {
  margin-bottom: 2.3rem;

  .carousel-indicators {
    background-color: #0005;
    border-radius: 100px;
    transition: background 0.5s;

    &:hover {
      background-color: #000b;
    }
  }

  .carousel-inner {
    margin-bottom: 0;
    border: 5px solid #fff;
    // box-shadow: 0 10px 35px #aaa;
    @include drop-shadow;
    border-radius: 20px;

    .carousel-item {
      > a {
        display: inline-block;

        figure {
          margin: 0;
          width: 100%;

          .carousel-caption {
            width: 50%;
            text-align: left;
            background-color: lighten($brand-primary, 20%);

            left: 0;
            top: 0;
            bottom: 0;

            padding: 20px 125px 39px 10%;
            clip-path: polygon(0 0, calc(100% - 110px) 0, 100% 100%, 0 100%);

            .caption-description {
              > p {
                color: #fff;
              }
            }
          }
        }
      }
    }
  }

  .direction {
    .carousel-control {
      width: 10%;
      z-index: 10;
      opacity: 1 !important;
      transition: box-shadow 0.35s;

      .carousel-control-icon {
        width: auto;
        height: auto;
        background-image: none;
        padding: 8px;
        border: 2px solid #fff;
        border-radius: 100px;
        background-color: #aa2222;
        box-shadow: 0 4px 8px #999;

        .fa {
          display: block;
        }
      }

      &:hover {
        box-shadow: 0 0 0 3px #a22;
      }
    }
  }
}

// .carousel {
//   box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, 0.15);
//   margin-bottom: 1.5rem;
//   .direction {
//     z-index: auto;
//   }
//   .carousel-inner {
//     height: 340px;
//   }
//   .carousel-item {
//     height: 100%;
//     img {
//       width: 100%;
//       max-width: 100%;
//       height: auto;
//     }
//     .caption {
//       position: absolute;
//       bottom: 28px;
//       left: 90px;
//       color: white;
//       max-width: 340px;
//       .caption-description p {
//         color: white;
//       }
//     }
//     figure {
//       margin: 0;
//       display: inline-block;
//     }
//   }
//   .carousel-control {
//     opacity: 1;
//     .icon-next,
//     .icon-prev {
//       &::before {
//         content: "";
//       }
//       i {
//         font-size: 3.125rem;
//         color: white;
//       }
//       &:hover {
//         i {
//           color: $brand-primary;
//         }
//       }
//     }
//     .icon-prev {
//       left: 1rem;
//     }
//     .icon-next {
//       right: 2rem;
//     }
//     &.left,
//     &.right {
//       background: none;
//     }
//   }
// }

// .carousel-indicators {
//   li {
//     border-color: $gray;
//   }
//   .active {
//     background-color: $gray;
//   }
// }

// @include media-breakpoint-up(lg) {
//   .carousel {
//     .carousel-indicators {
//       display: none;
//     }
//   }
// }

// @include media-breakpoint-down(lg) {
//   .carousel {
//     .carousel-inner {
//       height: auto;
//     }
//   }
// }

// @include media-breakpoint-down(md) {
//   .carousel {
//     box-shadow: none;
//     width: 100vw;
//     margin-left: -50vw;
//     left: 50%;
//     padding-bottom: .5rem;
//     background-color: $gray-light;
//     .carousel-item {
//       .caption {
//         position: static;
//         margin: 1.275rem auto 2.5rem;
//         text-align: center;
//         .display-1 {
//           font-size: 2rem;
//           font-weight: normal;
//           color: $gray-darker;
//         }
//         .caption-description {
//           h3,
//           p {
//             color: $gray;
//           }
//           h3 {
//             font-size: 1rem;
//           }
//         }
//       }
//     }

//     .direction {
//       position: absolute;
//       top: calc(50%);
//       width: 100%;
//       .carousel-control {
//         .icon-prev {
//           left: 0;
//           margin-left: 0;
//         }
//         .icon-next {
//           right: 0;
//           margin-right: .78rem;
//         }
//         i {
//           background: rgba(122,122,122,.5);
//         }
//       }
//     }
//   }
//   .carousel-indicators {
//     li {
//       height: 8px;
//       width: 8px;
//     }
//     .active {
//       height: 8px;
//       margin: 1px;
//       width: 8px;
//     }
//   }
// }

// @include media-breakpoint-down(sm) {
//   .carousel {
//     .carousel-item {
//       .caption {
//         .display-1 {
//           font-size: 1.3rem;
//         }
//       }
//     }
//     .carousel-control {
//       .icon-prev, .icon-next {
//         i {
//           font-size: 2rem;
//         }
//       }
//     }
//   }
// }
