/* Mobile First styles */
.top-menu {
  margin-bottom: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#_mobile_top_menu {
  .navbar-toggler {
    &[data-toggle="collapse"] {
      .add {
        display: none;
      }
      .remove {
        display: block;
      }
    }
    &[data-toggle="collapse"].collapsed {
      .add {
        display: block;
      }
      .remove {
        display: none;
      }
    }

    .navbar-toggler-icon {
      font-size: 1em;
      vertical-align: middle;
    }
  }

  .category {
    width: 100%;
  }
  .category .dropdown-item {
    padding: $extra-small-space $small-space;
  }

  .sub-menu {
    border-left: $small-space solid transparentize($primary, 0.5);
    background-color: $gray-light;
  }
}
@include media-breakpoint-up(md) {
}

/* Desktop First Styles */
#_desktop_top_menu {
  #top-menu {
    display: block;
    padding: $small-space 0;
    background-color: white;
    min-width: 100%;
    z-index: 99;
    // box-shadow: 0 3px 5px rgba(0, 0, 0, 0.11);
    @include drop-shadow-light-no-overflow;
    // border-radius: 0 0 5px 5px;
    flex-wrap: wrap;
    align-items: stretch;

    li > a {
      display: block;
      padding: $small-space $medium-space;
      transition: background 0.25s, box-shadow 0.25s;
      padding-right: calc(1.25rem + 20px);
    }
    li > a .menu-icon {
      position: absolute;
      right: 1.25rem;
    }
    li > a:hover {
      background-color: #f1f1f1;
      color: initial;
    }

    ul {
      height: 100%;
    }
  }

  .top-menu .js-sub-menu {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    margin: 0;
    padding: $small-space 0;
    background-color: white;
    @include drop-shadow-light-no-overflow-with-inset;
    min-width: 3rem;
    border: none;
    border-radius: 0;
  }
}
