/* Mobile First styles */
.top-menu {
  margin-bottom: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#menu-icons {
  cursor: pointer;
}

#_mobile_top_menu {
  .navbar-toggler {
    &[data-toggle="collapse"][aria-expanded="true"] {
      .add {
        display: none;
      }
      .remove {
        display: block;
      }
    }
    &[data-toggle="collapse"][aria-expanded="false"] {
      .add {
        display: block;
      }
      .remove {
        display: none;
      }
    }

    .navbar-toggler-icon {
      font-size: 1em;
      vertical-align: middle;
    }
  }

  .category {
    width: 100%;
  }
  .category .dropdown-item {
    padding: $extra-small-space $small-space;
  }

  .submenu {
    border-left: $small-space solid lighten($primary, 25%);
    background-color: $gray-light;
  }
}
@include media-breakpoint-up(md) {
  #top-menu {
    flex-direction: row;

    > .category > .submenu {
      position: absolute;
      top: 0;
      opacity: 0;
      z-index: 99;
      background-color: white;
      box-shadow: 3px 5px 10px #ccc;
      flex-direction: column;
      transform: translateX(-50%);
      transition: top .35s, opacity .35s;

      &.submenu--full {
        flex-direction: row;
        flex-wrap: wrap;
      }
      &.submenu--full > .top-menu > .category {
        font-weight: bold;
      }
    }

    > .category:hover > .submenu {
      display: flex;
      transition: top .35s, opacity .35s, display 0s linear .35s;
    }
  }
  .category .dropdown-item:hover {
    color: $primary;
  }
}