/* Mobile First styles */
.top-menu {
  margin-bottom: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#menu-icons {
  cursor: pointer;
}

#_mobile_top_menu {
  .navbar-toggler {
    &[data-toggle="collapse"][aria-expanded="true"] {
      .add {
        display: none;
      }
      .remove {
        display: block;
      }
    }
    &[data-toggle="collapse"][aria-expanded="false"] {
      .add {
        display: block;
      }
      .remove {
        display: none;
      }
    }

    .navbar-toggler-icon {
      font-size: 1em;
      vertical-align: middle;
    }
  }

  .menu--item {
    width: 100%;
  }
  .menu--item .dropdown-item {
    padding: $extra-small-space $small-space;
  }

  .submenu {
    border-left: $small-space solid lighten($primary, 25%);
    background-color: $gray-light;
  }
}
@include media-breakpoint-up(md) {
  #top-menu {
    flex-direction: row;
    align-items: flex-end;

    .submenu {
      display: none;
      position: relative;

      .top-menu {
        margin-left: $medium-space;
      }
      .top-menu[data-depth="1"] {
        position: absolute;
        top: 5px;
        left: 0;
        z-index: 99;
        opacity: 0;
        min-width: 100%;
        margin: 0;
        padding: ($small-space * 1.5) $medium-space;

        display: flex;
        flex-direction: column;

        background-color: white;
        border-radius: 12px;
        box-shadow: 3px 5px 18px #0005;

        transition: top 0.35s, opacity 0.35s;
      }

      &.submenu--full {
        position: static;
      }
    }
    .submenu--full {
      .top-menu {
        flex-direction: column;

        &[data-depth="0"] {
          margin: 0;
        }
        &[data-depth="1"] {
          flex-direction: row;
          flex-wrap: wrap;
          align-items: flex-start;
          margin: 0 $medium-space*-1;

          > .menu--item {
            width: auto;
            margin: 0 $medium-space;
          }
        }
        &[data-depth="2"] {
          margin-left: 0;
        }
      }

      .dropdown-item[data-depth="1"] {
        font-weight: bold;
      }
    }

    .dropdown-item[data-depth="0"] {
      .navbar-icon {
        margin-left: $small-space;
      }
      .material-icons {
        font-size: 1em;
        display: block;
      }
    }
    .submenu .menu--item {
      width: 100%;

      .dropdown-item {
        padding: ($small-space / 2) 0;
      }
      .dropdown-item .navbar-text {
        padding: 0;
      }
    }

    > .menu--item:hover .submenu {
      display: block;
      transition: display 0s linear 0.35s;
      > .top-menu {
        opacity: 1;
        top: calc(100% - 8px);
        transition: top 0.35s, opacity 0.35s;
      }
    }
  }

  .menu--item .dropdown-item:hover {
    color: darken($primary, 0.5);
  }
}
