#manufacturer #main {
  border-left: 1px solid $base-border-color;
  border-right: 1px solid $base-border-color;

  padding-top: $spacer-3;
  padding-bottom: $spacer-3;

  > .row {
    &.page-header {
      padding-top: $spacer-3;
      padding-bottom: $spacer-3;

      border-bottom: 1px solid $base-border-color;

      h1 {
        position: relative;
        margin: 0;
        padding-bottom: $spacer-3;

        &::after {
          content: "";
          position: absolute;
          left: calc(50% - 2rem);
          bottom: -1px;
          width: 4rem;
          height: 3px;
          background-color: $primary;
          border-radius: 100px 100px 0 0;
        }
      }
    }
  }
}
