#manufacturer #main {
  border-left: 1px solid $base-border-color;
  border-right: 1px solid $base-border-color;

  > .row {
    &.page-header {
      border-bottom: 1px solid $base-border-color;
      padding-top: $spacer-2;

      h1 {
        position: relative;
        margin: 0;
        padding-bottom: $spacer-2;

        &::after {
          content: "";
          position: absolute;
          left: calc(50% - 2rem);
          bottom: -1px;
          width: 4rem;
          height: 3px;
          background-color: $primary;
          border-radius: 100px 100px 0 0;
        }
      }
    }
  }

  .brands-container {
    padding: $spacer-1;

    .brand-item {
      padding: $spacer-1;

      > div {
        background-color: $white;
        border: 1px dashed $gray-light-second;
      }

      .brand-img {
        display: block;
      }

      .brand-products {
        padding: $spacer-2;

        .product-count {
          position: absolute;
          top: $spacer-1;
          right: $spacer-1;
          background-color: $gray-lighter-second;
          border: 1px solid $gray-light-second;
        }
      }
    }
  }
}
