.product-container {
    width: 100%;
    flex-shrink: 0;
}

.product-miniature {
    border-radius: 15px;
    box-shadow: none;
    background-color: transparent;
    border: 1px solid #e7e7e7;
    overflow: hidden;
    transition: box-shadow 0.85s;

    .product-thumbnail {
        border-radius: 15px;
        box-shadow: 0 5px 15px #0002;

        > img {
            width: 100%;
            height: 250px;
            object-fit: cover;
        }
    }

    .highlighted-informations {
        position: relative;

        .variant-links {
            position: absolute;
            bottom: calc(100% + 8px);
            left: 50%;
            transform: translateX(-50%);
            background-color: white;
            padding: $extra-small-space $medium-space;
            border-radius: 100px;

            > .color {
                border-radius: 100%;
                box-shadow: 0 2px 9px 0 #00000025;
                transition: box-shadow 0.3s;

                &:hover {
                    box-shadow: 0 2px 9px 0 #00000075;
                }
            }
        }
    }

    .product-description {
        background-color: #fff;
        transition: transform 0.35s;

        .product-title {
            height: 2.4em;
            max-height: 2.3em;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }
    }

    .product-features {
        position: absolute;
        top: 5px;
        right: 5px;
        transition: transform 0.35s;
    }

    .product-features > .product-feature {
        padding: 0rem 1.5rem;
        background-color: #fff;
        border-radius: 100px;
        @include drop-shadow-y-light;
        &:first-child {
            margin-top: 0 !important;
        }

        .feature-icon {
            width: 2.5em;
            height: 2.5em;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            &.inner-dimension {
                background-image: url("../img/feature-icons/dimension-inner.svg");
            }
            &.outer-dimension {
                background-image: url("../img/feature-icons/dimension-outer.svg");
            }
        }
    }

    .product-flags {
        transition: transform 0.35s;
    }
}

@include media-breakpoint-up(sm) {
    .product-container {
        width: 50%;
    }
}

@include media-breakpoint-up(md) {
    .product-miniature {
        &:hover {
            background-color: $white;
            box-shadow: 0 3px 25px #0001;

            .product-thumbnail {
                box-shadow: none;
            }

            .product-flags {
                transform: translateY(calc(-100% - 15px));
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .product-container {
        width: 33.33%;
    }
}

@include media-breakpoint-up(xl) {
    .product-container {
        width: 25%;
    }
    .layout-left-column .product-container {
        width: 33.33%;
    }
}
