.search-widget {
  width: 100%;
  @include search-box;
}

#header .mobile .search-widget {
  border-top: 1px solid $base-border-color;
  padding: ($spacer-1 + $spacer-2);

  form {
    input [type="text"] {
      padding: 0 $spacer-1;
    }
  }
  form:focus-within {
    box-shadow: none;
  }
}

@include media-breakpoint-up(md) {
  #header .search-widget {
    input {
      padding: $small-space 0;
      min-width: 0;
    }
    button[type="submit"] {
      font-size: 0.8rem;
    }
  }
}
