#_desktop_cart {
    display: inline-block;
    
    a.main {
        display: inline-block;
    }

	.icon-container {
		float: left;
		height: 100%;

		i.material-icons {
			font-size: 1.5em;
			line-height: 1em;
		}
	}

	.content-container {
		display: block;
		overflow: hidden;
		padding: 0 0.8em;
		font-family: Roboto;

		span {
			display: block;
		}

		.caption {
			text-transform: uppercase;
			font-size: 0.8em;
			letter-spacing: 0.3em;
			margin-bottom: 0.15rem;
			color: #6c757d;
		}

		.value {
            color: #000;
		}
	}
}

/* Alterations */
.header-top .nav-user.-right {
	#_desktop_cart {
		height: 100%;
        vertical-align: top;
        padding: 0.6rem 1.5rem;
        border-radius: 5px;
        border: 0.5px double transparent;
        transition: box-shadow 0.5s, border 0.5s;

        &:hover {
			box-shadow: 0 0 100px #DDD;
            border-color: $brand-primary;
        }
    }
}
