<div class="row">
    <div class="col-12 col-md-10 offset-md-1 px-4 py-3 bg-white shadow-sm rounded">
        <h2>Our Founding</h2>
        <p>Bearing Express was founded in August 2003 by Francois Boise as a general bearing supplier.</p>
        <p>With diligent market research, we discovered a shortage in the market place for a specialist automotive
            bearing supplier. As we grew the business, we positioned ourselves as a specialist automotive Gearbox,
            Differential, and Wheel Bearing supplier. Since 2006 we have focused on building bearing kits, made up of
            bearings, seals, and bushes, to make it easy for our customers when ordering parts. Since then we have
            partnered with international companies, NSK bearings of Japan, SKF Bearings from Germany, and together with
            another company, we order OE manufactured gears from Germany. Bearing Express, to this end, is one of the
            very few registered distributors of NSK bearing products in South Africa.</p>
    </div>
</div>
<div class="row">
    <div class="col-10 offset-md-1  bg-white">
        <blockquote class="blockquote text-center">
            <span class="blockquote-icon"><i class="material-icons">&#xe244;</i></span>
            <div class="blockquote-main">
                <p>We believe in offering the best solution to our customers regarding Gearbox, Differential and Wheel
                    Bearing parts by supplying top brands to avoid returns.</p>
                <footer class="blockquote-footer">
                    <cite title="Francois Boise">Francois Boise (CEO of Bearing Express PTY LTD)</cite>
                </footer>
            </div>
        </blockquote>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-5 offset-md-1 py-4">
        <h3>Our Professional Aim</h3>
        <p>Our aim was and is to be a “One Stop Shop” where we can service our customers from a centralized position
            with all the necessary parts required to service the automotive industry and the knowledge to be able to
            give sound advice regarding Automotive applications.</p>
    </div>
    <div class="col-12 col-md-5 py-4">
        <h3>Our Personal Aim</h3>
        <p>To empower and improve our staff with training to become knowledgable about our industry requirements and
            improve their standard of living as we steadily grow this business</p>
    </div>
</div>